<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="page-header">
    <h1>
        <small>zhxysky's blog</small>
    </h1>
</div>
<div th:fragment="header">
    <ul class="nav nav-tabs">
        <li class="active">
            <a class="navbar-brand" href="/index.html" th:href="@{/}">首页</a>
        </li>
        <li>
            <a class="navbar-brand" href="/add.html" th:href="@{/article/add}">发布</a>
        </li>
    </ul>
</div>

</body>
</html>