<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thymeleaf index</title>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />

    <script src="http://cdn.jsdelivr.net/webjars/jquery/3.1.0/jquery.min.js"
            th:src="@{/webjars/jquery/3.1.0/jquery.min.js}"></script>


</head>
<body>
<a href="/add.html" th:href="@{/article/add}" >发布</a>
<div class="container">
    <div th:each="article : ${articleList}">
        <a href="article.html" th:href="@{'/article/'+${article.id}}"><h1 th:text="${article.title}"></h1></a>
        <span th:text="${#calendars.format(article.createTime,'dd MMMM yyyy')}"></span>
        <p th:text="${article.content}"></p>
    </div>
</div>

<a th:href="@{http://www.thymeleaf.org/doc/tutorials/2.1/usingthymeleaf.html#creating-and-configuring-the-template-engine}" th:target="_blank">thyemleaf docs</a>
<div th:class="content">...</div>
<a href="user.html" th:href="@{http://localhost:8088/users/5}">absolute url:user.html</a>
<a href="user.html" th:href="@{/users/5}">relative url:user.html</a>
"${hello}":<p th:text="${hello}"></p>
"*{hello}":<p th:text="*{hello}"></p>
<p th:text="#{hello}"></p>
<p th:text="${#locale.country}"/>
<p th:text="${#dates}"/>
<p th:text="${#calendars.format(today,'dd MMMM yyyy')}"/>

<!--<p th:text="${#ctx}"/>-->
<!--<p th:text="${#vars}" />-->
<p th:text="#{home.welcome}">Welcome to index.html</p>
</body>
</html>