<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thymeleaf index</title>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.0.1/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />

    <script src="http://cdn.jsdelivr.net/webjars/jquery/3.1.0/jquery.min.js"
            th:src="@{/webjars/jquery/3.3.7-1/jquery.min.js}"></script>



</head>
<body>

<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="page-header">
                <div th:include="header::page-header"></div>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-8 column">
            <div th:include="header::header"></div>
            <div th:each="article : ${articleList}">
                <h3 th:text="${article.title}"></h3>
                <span th:text="${#calendars.format(article.createTime,'dd MMMM yyyy')}"></span>
                <p th:utext="${article.htmlContent}">
                    Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
                </p>
                <p>
                    <a class="btn" href="article.html" th:href="@{'/article/'+${article.id}}" th:target="_blank">View details »</a>
                </p>
            </div>
        </div>
        <div class="col-md-4 column">
            <div class="row clearfix">
                <div th:include="right::blockquote"></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>