<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>修改文章</title>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
    <script src="http://cdn.jsdelivr.net/webjars/jquery/3.1.0/jquery.min.js"
            th:src="@{/webjars/jquery/3.1.0/jquery.min.js}"></script>
    <link rel="stylesheet" href="/mditor/css/mditor.min.css" th:href="@{/mditor/css/mditor.css}" />
</head>
<body>

<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="page-header">
                <div th:include="header::page-header"></div>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-8 column">
            <div th:include="header::header"></div>
            <form role="form" action="/article/update" method="post">
                <div class="form-group"></div>
                <input type="hidden" name="id" th:value="${article.id}">
                <!--<input type="hidden" name="createTime" th:data="${article.createTime}">-->
                <div class="form-group">
                    <label for="catalog">分类：</label><input type="text" class="form-control" id="catalog" name="catalog" th:value="${article.catalog}" />
                </div>
                <div class="form-group">
                    <label for="title">标题：</label><input type="text" class="form-control" id="title" name="title" th:value="${article.title}" />
                </div>
                <div class="form-group">
                    <label for="editor">正文：</label>
                    <textarea name="content" id="editor" th:inline="text">[[${article.content}]]</textarea>
                    <script src="/mditor/js/mditor.min.js"></script>
                    <script>
                        var mditor = new Mditor("#editor",{
                            height:400,
                            fixedHeight:true
                        });
                        mditor.openPreview();
                        function getcontent(){
                            var txt=document.getElementById("editor").value;
                            alert(txt);
                        }
                    </script>
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
        <div class="col-md-4 column">
            <div class="row clearfix">
                <div th:include="right::blockquote"></div>
            </div>
        </div>
    </div>
</div>

</body>
</html>