<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="blockquote">
    <blockquote>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
        </p> <small>Someone famous <cite>Source Title</cite></small>
    </blockquote>
    <blockquote>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
        </p> <small>Someone famous <cite>Source Title</cite></small>
    </blockquote>
    <blockquote>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
        </p> <small>Someone famous <cite>Source Title</cite></small>
    </blockquote>
</div>

</body>
</html>